body {
  background-color: lightsalmon;
}

#editor-header {
  color: white;
  width: 500px;
  max-width: 70vw;
  background-color: darkslateblue;
}
#editor {
  max-width: 70vw;
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#preview {
  max-width: 90vw;
  height: 200px;
  background-color: white;
}
#preview-header {
  color: white;
  max-width: 90vw;
  background-color: darkslateblue;
}
@media (min-width: 768px) {
    #preview, #preview-header {
width: 60vw;
    }
}
    
